.speech-input {
  .button {
    color: $primary;
  }

  .button.is-loading:after {
    border-color: transparent transparent $primary $primary !important
  }

  .input:focus + .button,
  .input:active + .button {
    border-color: $primary;
  }
}
